# Run manually to reformat a file:
# clang-format -i --style=file <file>
# find . -name "*.cpp" -o -name "*.c" -o -name "*.h" -o -name "*.hh" | xargs clang-format-8 -style=file -i
Language:        Cpp
BasedOnStyle:  Google
# Force pointer to align on the type for C++
DerivePointerAlignment: false
PointerAlignment: Left
